.item img {
  width: 100%;
  height: 100%;
}

.btn {
  height: 39.1px;
  /*background-position: 0;*/
}

.hreview {
  margin: auto;
}

.hreview a {
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
}

.img-class img {
  margin: auto;
  width: 80%;
  height: 100px;
/*   border-radius: 50%/50px; */
  border-radius: 5px;
  margin-top: 10px;
}

.img-class h4 {
  text-align: center;
}

.dropdown-menu1 {
  width: 600px;
  height: 400px;
}

p {
  text-align: center;
  font: 12px 100 "宋体";
  color: gray;
}

.class {
  margin: 20px;
  padding: 10px;
  padding-top: 30px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 20px;
  border: 1px solid aqua;
}

.bottom {
  margin-top: 100px;
  background: black;
}

.bottom img {
  margin: auto;
  width: 600px;
  height: 100px;
}
